<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-touch no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  
  <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
  

  <!-- Title and description ================================================== -->
  <title>
  Yosemite Welding
  </title>


    <meta name="description" content="Yosemite Welding Splash Page">


  <!-- Helpers ================================================== -->

  <meta name="viewport" content="width=device-width,initial-scale=1">


  <!-- CSS ================================================== -->
  <link rel="stylesheet" href="stylesheets/timber.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-I6JCnqxMbC2DuiHjsoCiLa15NVbKRf8/ooANRLsXD87zD2dVqzlz6Oqjvj470ztk" crossorigin="anonymous">
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>

  
  

</head>

<body>

  <header class="site-header" role="banner">
    <div class="wrapper header-wrapper">

      <div class="grid--full">
        <div class="grid-item large--one-half">
              <a class="header-link" href="/">Call us! (209) 874-6140</a>
        </div>
        <div class="grid-item large--one-half header-align-right">
              <a class="header-link header-align-right" href="/contact">Ask us a question &#62;</a>    
        </div>
      </div>

<!--         <div class="grid-item large--one-half text-center large--text-right">
            <div class="site-header--text-links">
              

            </div>
            <br class="medium-down--hide">
        </div> -->
      </div>

    </div>
  </header>

<div class="mountain-div">
       <img class="mountain-image" src="images/mountain-div.jpg" alt="logo" align="center"/>
</div>


  <!-- ADD NAV LINKS -->
  <nav class="nav-bar" role="navigation">
    <div class="wrapper" style="padding-left: 0px !important;"> 
      <ul class="site-nav">
      <li class="site-nav">
        <a href="/services">Services</a>
      </li>
      <li class="site-nav">
        <a href="/portfolio">Portfolio</a>
      </li>
      <li class="site-nav">
        <a href="/about-us.html">About Us</a>
      </li>
      <li class="site-nav">
        <a class="middle-nav-link" href="/">YOSEMITE WELDING</a>
      </li>
      <li class="site-nav">
        <a href="/contact-us.html">Contact Us</a>
      </li>
      <li class="site-nav">
        <a href="http://www.yosemitesteel.com"><span class="order-place">Place An Order</span></a>
      </li>
    </ul>
    </div>
  </nav> 

  
  
 
<!-- MOBILE NAV BAR ITEMS -->
  <div id="mobileNavBar">
    <div class="display-table-cell">
      <nav class="mnav">
      <ul class="active">
        <li>
          <a href="/services">Services</a>
        </li>
        <li>
          <a href="/portfolio">Portfolio</a>
        </li>
        <li>
          <a href="/">Get Quotes Today</a>
        </li>
        <li>
          <a href="/about-us.html">About Us</a>
        </li>
        <li>
          <a href="/contact-us.html">Contact Us</a>
        </li>
        <li>
          <a href="http://www.yosemitesteel.com">Place An Order</a>
        </li>
      </ul>
      <a class="menu-toggle mobileNavBar-link toggle-nav" id="pull"><i class="fa fa-bars" aria-hidden="true"></i><span class="mobile-header">Yosemite Welding</span></a>
    </nav>
    </div>
  </div>


  <!-- MAIN IMAGE -->
  <!-- NEED TO MAKE FULL SCREEN -->
  <div class="main-image-div">
    <img class="main-image" src="images/about-us-header.jpg" alt="Welding" />
  </div>
  

<!-- About Us Text -->
<div class="grid margin-grid">

  <div class="grid-tem">
    <div class="about-text">
      <h1 class="about-header">About Us</h1>
      <p class="about-text">Yosemite Welding was established in 2013 and originated in a home garage with a single service tr</p>
      <p class="about-text">Throughout Northern California, we provide welding services and equipment repair. Yosemite Welding is in partnership with the AG community providing them quality work.</p>
      <p class="about-text">In 2015, we moved our operations to a 5,000 square foot facility In Modesto, California. We now have four, fully-equipped service trucks and operate 12 hours per day to accommodate our customer's needs. Along with our new General Manager, we have 30+ years of experience.</p>
      <p class="about-text">We provide custom and diverse precision machine fabrication services. We also offer a full line of CNC plasma cutting, machining, fabrication, welding, assembly, and repair services.</p>
    </div>
  </div>
</div>
  
 <!--  ABOUT GRID -->
 

  <div class="grid about-grid">
    <div class="grid-item large--one-twelfth align-center">
      &nbsp;
    </div>
    <div class="grid-item medium--one-half large--one-sixth align-center">
      <img src="images/about-us1.jpg">
    </div>
    <div class="grid-item medium--one-half large--one-sixth align-center">
      <img src="images/about-us2.jpg">
    </div>
    <div class="grid-item medium--one-half large--one-sixth align-center">
      <img src="images/about-us3.jpg">
    </div>
    <div class="grid-item medium--one-half large--one-sixth align-center">
        <img src="images/about-us4.jpg">
    </div>
    <div class="grid-item  large--one-sixth align-center">
        <a href="/portfolio"><img class="about-us-hover" src="images/about-us5.jpg"></a>
    </div>
    <div class="grid-item large--one-twelfth align-center">
      &nbsp;
    </div>
  </div>

 

  <footer class="site-footer small--text-center footer-padding" role="contentinfo">

    <div class="wrapper">
      
      

      <div class="grid" >

        <!-- FOOTER LINK GRID -->
          <div class="grid-item medium--one-half large--seven-twelfths align-center" style="padding-left: 0px;">
            <ul class="footer-items">
                <li><a href="http://www.yosemitesteel.com"><b>Place Metal Orders</b></a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/portfolio">Portfolios</a></li>
                <li><a href="/about-us.html">About Us</a></li>
                <li><a href="/contact-us.html">Contact Us</a></li>
            </ul>
          </div>
        
        <!-- NO INLNE CSS -->
        <div class="grid-item medium--one-half large--five-twelfths align-center" style="padding-left: 0px;">
          <ul class="social-footer-links">
            <li>
              <a href="http://www.facebook.com"><img src="images/facebook-logo.png" alt="social" width="50%"/></a>
            </li>
            <li>
              <a href="http://www.instagram.com"><img src="images/instagram-icon.png" alt="social" width="50%"/></a>
            </li>
            <li>
              <a href="http://yelp.com"><img src="images/yelp-icon.png" alt="social" width="50%"/></a>
            </li>
            <li>
              <a href="http://yellowpages.com"><img src="images/yp-icon.png" alt="social" width="50%"/></a>
            </li>
          </ul>
        </div>

    </div>

    

  </footer>
  <script type="text/javascript">
    jQuery(document).ready(function() {
    jQuery('.toggle-nav').click(function(e) {
        // jQuery(this).toggleClass('active');
        jQuery('.mnav ul').toggleClass('active');
 
        e.preventDefault();
        });
    });
  </script>

</body>
</html>
