<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-touch no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
  <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
  

  <!-- Title and description ================================================== -->
  <title>
  Yosemite Welding
  </title>


    <meta name="description" content="Yosemite Welding Splash Page">


  <!-- Helpers ================================================== -->

  <meta name="viewport" content="width=device-width,initial-scale=1">


  <!-- CSS ================================================== -->
  <link rel="stylesheet" href="stylesheets/timber.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-I6JCnqxMbC2DuiHjsoCiLa15NVbKRf8/ooANRLsXD87zD2dVqzlz6Oqjvj470ztk" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src'https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="javascripts/jquery.rwdImageMaps.min.js"></script>

  
  

</head>

<body>

  <header class="site-header" role="banner">
    <div class="wrapper header-wrapper">

      <div class="grid">
        <div class="grid-item medium--one-half large--one-half">
              <a class="header-link" href="/contact-us.html">Call us! (209) 874-6140</a>
        </div>
        <div class="grid-item medium--one-half large--one-half header-align-right">
              <a class="header-link header-align-right" href="/contact-us.html">Ask us a question &#62;</a>    
        </div>
      </div>

<!--         <div class="grid-item large--one-half text-center large--text-right">
            <div class="site-header--text-links">
              

            </div>
            <br class="medium-down--hide">
        </div> -->
      </div>

    </div>
  </header>

<div class="mountain-div" style="position:relative;">
       <img class="mountain-image" src="images/mountain-div.jpg" alt="logo" align="center" usemap="#Map"/>
</div>


  <!-- ADD NAV LINKS -->
  <nav class="nav-bar" role="navigation">
    <div class="wrapper" style="padding-left: 0px !important;"> 
      <ul class="site-nav">
      <li class="site-nav">
        <a href="/services">Services</a>
      </li>
      <li class="site-nav">
        <a href="/portfolio">Portfolio</a>
      </li>
      <li class="site-nav">
        <a href="/about-us.html">About Us</a>
      </li>
      <li class="site-nav">
        <a class="middle-nav-link" href="/">YOSEMITE WELDING</a>
      </li>
      <li class="site-nav">
        <a href="/contact-us.html">Contact Us</a>
      </li>
      <li class="site-nav">
        <a href="http://www.yosemitesteel.com"><span class="order-place order-place-hover">Place An Order</span></a>
      </li>
    </ul>
    </div>
  </nav> 
  
  
 
<!-- MOBILE NAV BAR ITEMS -->
  <div id="mobileNavBar">
    <div class="display-table-cell">
      <nav class="mnav">
      <ul class="active">
        <li>
          <a href="/services">Services</a>
        </li>
        <li>
          <a href="/portfolio">Portfolio</a>
        </li>
        <li>
          <a href="/about-us.html">About Us</a>
        </li>
        <li>
          <a href="/contact-us.html">Contact Us</a>
        </li>
        <li>
          <a href="http://www.yosemitesteel.com">Place An Order</a>
        </li>
      </ul>
      <a class="menu-toggle mobileNavBar-link toggle-nav" id="pull"><i class="fa fa-bars" aria-hidden="true"></i><span class="mobile-header">Yosemite Welding</span></a>
    </nav>
    </div>
  </div>


  <!-- MAIN IMAGE -->
  <!-- NEED TO MAKE FULL SCREEN -->
  <div class="main-image-div">
    <img class="main-image" src="images/header.jpg" alt="Welding" usemap="#Map"/>
    <!-- <a href="/" style="top: 80%; left: 90%; width: 10%; height: 10%;"></a> -->
  </div>
  

  
 <!--  PORTFOLIO GRID -->
 <!-- <div class="home-portfolio"> -->
  <div class="portfolio-text portfolio-color"><h1 class="strike-line-portfolio"><span class="social-header-main">What We Offer</span></h1>

  <div class="grid portfolio-grid">
    <div class="grid-item medium--one-half large--one-quarter align-center">
      
       <a href="/services"> 
        <div class="media">
            <img src="images/portfolio-home-1.jpg">
            <div class="media__body"><p class="inner-text">CNC Cutting and More</p></div>
        </div>
       </a>

       
      
      <h1 class="portfolio-header">CNC Cutting and More</h1>
      <p class="social-text">
          We offer a full line of CNC plasma cutting, machining, fabrication, welding, assembly, and repair services.
      </p>
    </div>
    <div class="grid-item medium--one-half large--one-quarter align-center">
      <a href="/services">
        <div class="media">
            <img src="images/portfolio-home-2.jpg">
            <div class="media__body"><p class="inner-text">Agriculture Equipment Repair</p></div>
            </div>
      </a>
      <h1 class="portfolio-header">Agriculture Equipment Repair</h1>
      <p class="social-text">
          We specialize in farm equipment installation and repair. We have a team who are experienced in troubleshooting in different operations in the Ag Industry.
      </p>
    </div>
    <div class="grid-item medium--one-half large--one-quarter align-center">
      <a href="/services">
        <div class="media">
            <img src="images/portfolio-home-3.jpg">
            <div class="media__body"><p class="inner-text">Agriculture Equipment Repair</p></div>
        </div>
      </a>
      <h1 class="portfolio-header">Emergency Services</h1>
      <p class="social-text">
          We offer emergency services to our customers. We will be there with you when it matters most.
      </p>
    </div>
    <div class="grid-item medium--one-half large--one-quarter align-center">
      <a href="/services">
        <div class="media">
            <img src="images/portfolio-home-4.jpg">
            <div class="media__body"><p class="inner-text">Agriculture Equipment Repair</p></div>
            </div>
      </a>
      <h1 class="portfolio-header">Reliable Workforce</h1>
      <p class="social-text">
         We deliver high quality work through our greatest assets, our people.  Our staff is reliable, unique, and versatile.
      </p>
    </div>

  </div>
</div>
 <!-- </div> -->



  
<!--  SOCIAL GRID    -->
    <div class="grid social-grid" >
      <div class="grid-item medium--one-half large--one-half align-center">
        <h1  class="strike-line"><span class="social-header">See us in action</span></h1>
        <ul>
            <li>
              <a href="https://www.facebook.com/Yosemite-Welding-Mfg-605355516278661/?view_public_for=605355516278661"><img class="social-hover" src="images/facebook-logo1.png" alt="social" /></a>
            </li>
            <li>
              <a href="https://www.instagram.com/yosemitewelding/?ref=badge"><img class="social-hover" src="images/instagram-icon1.png" alt="social" /></a>
            </li>
        </ul>
        <p class="social-media-text">
        	See us in our element and witness the culture we have built to create a great team environment for passionate welders and problem solvers.
        </p>
      </div>
      
      
      <div class="grid-item medium--one-half large--one-half align-center">
        <h1 class="strike-line"><span class="social-header">Tell us how we are doing</span></h1>
        <ul>
            <li>
              <a href="http://www.yelp.com/biz/yosemite-welding-and-mfg-modesto"><img class="social-hover" src="images/yelp-icon.png" alt="social" width="200%"/></a>
            </li>
            <li>
              <a href="http://www.yellowpages.com/modesto-ca/mip/yosemite-welding-and-mfg-495491031?lid=1000365436855"><img class="social-hover" src="images/yp-icon.png" alt="social" width="200%"/></a>
            </li>
        </ul>
        <p class="social-media-text">We strive to be better every single day and we cannot do this without you. Help us become better by telling us what you think.</p>
      </div>
      
    </div>
<!-- END SOCIAL GRID -->
  
  <!-- {% capture theme_settings_link %}<a href="/admin/themes/{{ theme.id }}/settings">{{ 'layout.footer.theme_settings' | t }}</a>{% endcapture %} -->

  <footer class="site-footer small--text-center footer-padding" role="contentinfo">

    <div class="wrapper">
      
      

      <div class="grid" >

        <!-- FOOTER LINK GRID -->
          <div class="grid-item medium--one-half large--seven-twelfths align-center" style="padding-left: 0px;">
            <ul class="footer-items">
                <li><a href="http://www.yosemitesteel.com"><b>Place Metal Orders</b></a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/portfolio">Portfolios</a></li>
                <li><a href="/about-us.html">About Us</a></li>
                <li><a href="/contact-us.html">Contact Us</a></li>
            </ul>
          </div>
        
        <!-- NO INLNE CSS -->
        <div class="grid-item medium--one-half large--five-twelfths align-center" style="padding-left: 0px;">
          <ul class="social-footer-links">
            <li>
              <a href="https://www.facebook.com/Yosemite-Welding-Mfg-605355516278661/?view_public_for=605355516278661"><img class="social-hover" src="images/facebook-logo.png" alt="social" width="50%"/></a>
            </li>
            <li>
              <a href="https://www.instagram.com/yosemitewelding/?ref=badge"><img class="social-hover" src="images/instagram-icon.png" alt="social" width="50%"/></a>
            </li>
            <li>
              <a href="http://www.yelp.com/biz/yosemite-welding-and-mfg-modesto"><img class="social-hover" src="images/yelp-icon.png" alt="social" width="50%"/></a>
            </li>
            <li>
              <a href="http://www.yellowpages.com/modesto-ca/mip/yosemite-welding-and-mfg-495491031?lid=1000365436855"><img class="social-hover" src="images/yp-icon.png" alt="social" width="50%"/></a>
            </li>
          </ul>
        </div>

    </div>
  </footer>

  <map name="Map">
    <area shape='Rect' coords="727,285,1099,396" href="/services" />
  </map>
  <script type="text/javascript">
    jQuery(document).ready(function() {
    jQuery('.toggle-nav').click(function(e) {
        // jQuery(this).toggleClass('active');
        jQuery('.mnav ul').toggleClass('active');
 
        e.preventDefault();
        });

      $('img[usemap]').rwdImageMaps();

    });
  </script>

</body>
</html>
